<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- 
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    -->

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <!--
    <script src="/js/materialize.js" defer></script>
    <script src="/js/materialize.min.js" defer></script>
    -->

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- header.logo -->
    <header class="header" id="myHeader">
      <!-- nav bar -->
      <nav>
        <img
          src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
          alt="leaf logo"
          class="logo"
        />
      </nav>
    </header>
    
    <img
         src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F9ed2e3cb-8641-4c29-98f1-97c2ec8d2dd0.image.png?v=1608187624857"
         alt="pawprint hehe"
         class="pawprint-header"
    />
    
    <iframe src="https://coolclimate-calculator-ui.firebaseapp.com/?utm_source=coolclimate.berkeley.edu&utm_medium=iframe&utm_campaign=carboncalculator" class="api-firebase opacity"></iframe>
    
    <div class="fade-in">
    <img
         src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2Fde4972f1-2eba-4cda-a9e1-ef3ccc125bbc.image.png?v=1608187968782"
         alt="echo<3 babyyy echoo"
         class="bear-bubble1"
    />
    
    <div class="buttons">
      <div class="container5">
        <a href="/calculator-function.html" class="btn effect01"
          ><span>Continue</span></a
        >
      </div>
    </div>
    </div>
    
  </body>
</html>
