 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/static/script.js" defer></script>

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- header.logo -->
    <header class="header" id="myHeader">
      <!-- nav bar -->
      <nav>
        <img
          src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
          alt="leaf logo"
          class="logo"
        />
      </nav>
    </header>

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FBear_Look_At_Greenery.png?v=1608186590881"
      alt="bear saying byeee"
      class="bear-bye"
    />

      <p class="ending-text">
        <strong>Thank you for listening to me today!</strong>
      </p>
    
    <div class="fade-in">
    <p class="ending-text2">
      The carbon footprint’s impact on Earth and my<br /> family is super important to me, so I appreciate<br /> you taking the time to learn how you can make<br /> a positive change in the environment.
    </p>
    
    <div class="buttons">
      <div class="container4">
        <a href="/index.html" class="btn effect01"
          ><span>Restart</span></a
        >
      </div>
    </div>
    </div>
  </body>
</html>
       