<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script1.js" defer></script>
    <script src="/js/materialize.js" defer></script>
    <script src="/js/materialize.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <center>
      <a href="/image-seg-end.html">
        <img
          src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FIMG_0550.JPG?v=1608177554114"
          alt="bryan's room"
          class="img-room"
          href="/image-seg-end"
        />
      </a>
    </center>

    <div class="fade-out">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FHappy_Bear.png?v=1608175942168"
        alt="cute bear!;)"
        class="bear-big"
      />
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F835e17f4-edc2-4eb4-b867-c6a16b79fe50.image.png?v=1608177088927"
        alt="tap the blue circles!"
        class="bear-bubble"
      />
    </div>
  </body>
</html>