<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script1.js" defer></script>
    <script src="/js/materialize.js" defer></script>
    <script src="/js/materialize.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <center>
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FIMG_0550.JPG?v=1608177554114"
        alt="bryan's room"
        class="img-room-end"
      />

      <a href="image-seg-end2.html">
        <img
          src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F69bc5d76-22a8-4b70-a2de-026f95d5ea9d.image.png?v=1608178591957"
          alt="blue circle"
          class="circle-nest"
        />
      </a>

      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F69bc5d76-22a8-4b70-a2de-026f95d5ea9d.image.png?v=1608178591957"
        alt="blue circle"
        class="circle-light"
      />

      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F69bc5d76-22a8-4b70-a2de-026f95d5ea9d.image.png?v=1608178591957"
        alt="blue circle"
        class="circle-waterbottle"
      />

      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F69bc5d76-22a8-4b70-a2de-026f95d5ea9d.image.png?v=1608178591957"
        alt="blue circle"
        class="circle-fridge"
      />

      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F69bc5d76-22a8-4b70-a2de-026f95d5ea9d.image.png?v=1608178591957"
        alt="blue circle"
        class="circle-tv"
      />
    </center>
    <div class="container">
      <a href="calculator.html" class="btn effect01"><span>Continue</span></a>
    </div>
  </body>
</html>
