<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- 
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    -->

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <!--
    <script src="/js/materialize.js" defer></script>
    <script src="/js/materialize.min.js" defer></script>
    -->

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <a href="">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FBase_Room.png?v=1608181413305"
        alt="base of room"
        class="base-room opacity"
      />
    </a>

    <a href="">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FACheater.png?v=1608181847124"
        alt="AC/heater; ice on my WRIST"
        class="ac-heater opacity"
      />
    </a>

    <a href="">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FCar.png?v=1608181839858"
        alt="car go brr"
        class="car opacity"
      />
    </a>

    <a href="">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FNight_Light.png?v=1608181901819"
        alt="bling bling light"
        class="light opacity"
      />
    </a>

    <a href="">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FWash_And_Dry.png?v=1608181909065"
        alt="dryer + washer; washy washy"
        class="washer-dryer opacity"
      />
    </a>

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FRefrigerator_Open.png?v=1608181933923"
      alt="fridge open; aw man"
      class="fridge-open"
    />

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2Fimage-removebg-preview%20(3).png?v=1608184180537"
      alt="yum!"
      class="food-text"
    />

    <p class="food-text1">
      <strong>10-30%</strong> of a household’s carbon<br />
      footprint comes from food!
    </p>

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2F30.gif?v=1608184613241"
      alt="house 30%"
      class="house"
    />
    
    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2Fcbfd0150-0361-4e0f-beaa-380bcb83cc55.image.png?v=1608184773670"
      alt="dot 1"
      class="dot1"
    />
    
    <a href="interactive-food2.html">
    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2Fcbfd0150-0361-4e0f-beaa-380bcb83cc55.image.png?v=1608184773670"
      alt="dot 2"
      class="dot2 opacity"
    />
    </a>
    
    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2Fcbfd0150-0361-4e0f-beaa-380bcb83cc55.image.png?v=1608184773670"
      alt="dot 3"
      class="dot3 opacity"
    />
  </body>
</html>
