<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leaf</title>

    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FLeaf_Logo.png?v=1608169523295"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- 
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    -->

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <!--
    <script src="/js/materialize.js" defer></script>
    <script src="/js/materialize.min.js" defer></script>
    -->

    <!-- import social media footer -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FBase_Room.png?v=1608181413305"
      alt="base of room"
      class="base-room"
    />

    <a href="room-home-open.html">
      <img
        src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FRefrigerator.png?v=1608181920434"
        alt="fridge closed; aw man"
        class="fridge-closed"
      />
    </a>

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FACheater.png?v=1608181847124"
      alt="AC/heater; ice on my WRIST"
      class="ac-heater"
    />

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FCar.png?v=1608181839858"
      alt="car go brr"
      class="car"
    />

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FNight_Light.png?v=1608181901819"
      alt="bling bling light"
      class="light"
    />

    <img
      src="https://cdn.glitch.com/b5754465-3a1d-4b1f-a606-a0454960aba7%2FWash_And_Dry.png?v=1608181909065"
      alt="dryer + washer; washy washy"
      class="washer-dryer"
    />

    <div class="container3">
      <a href="/image-seg-intro.html" class="btn effect01"
        ><span>Continue</span></a
      >
    </div>
  </body>
</html>
